@require 'variables'
main 
  header
    background url('../images/landscape.jpg')
    height 70vh
    margin-bottom navbarHeight
    display flex
    align-items flex-end
    color #fff
    .text-overlay
      background-color #0007
      width 100%
      padding 1rem 0
      p
        margin 0