doctype html  
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Webpack poilarplate')
    meta(name='author' content='Piero Blunda https://github.com/pieroblunda')
    title Carousel Template
  body
    include navbar
    main(role='main')
      include neck
      include main
      include footer