.container
  .row.featurette
    .col-md-7
      h2.featurette-heading
        | First featurette heading. 
        span.text-muted It&rsquo;ll blow your mind.
      p.lead
        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5
      svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 500x500')
        title Placeholder
        rect(width='100%' height='100%' fill='#eee')
        text(x='50%' y='50%' fill='#aaa' dy='.3em') 500x500
  hr.featurette-divider
  .row.featurette
    .col-md-7.order-md-2
      h2.featurette-heading
        | Oh yeah, it&rsquo;s that good. 
        span.text-muted See for yourself.
      p.lead
        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5.order-md-1
      svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 500x500')
        title Placeholder
        rect(width='100%' height='100%' fill='#eee')
        text(x='50%' y='50%' fill='#aaa' dy='.3em') 500x500
  hr.featurette-divider
  .row.featurette
    .col-md-7
      h2.featurette-heading
        | And lastly, this one. 
        span.text-muted Checkmate.
      p.lead
        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5
      svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 500x500')
        title Placeholder
        rect(width='100%' height='100%' fill='#eee')
        text(x='50%' y='50%' fill='#aaa' dy='.3em') 500x500
  hr.featurette-divider